@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Adicione isto para o efeito 3D do card funcionar --- */

/* Define a profundidade do efeito 3D */
.perspective-1000 {
  perspective: 1000px;
}

/* Garante que o elemento filho mantenha o 3D ao girar */
.transform-style-3d {
  transform-style: preserve-3d;
}

/* Esconde a parte de trás do elemento quando ele gira */
.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Para Safari */
}

/* A classe que efetivamente gira o card 180 graus */
.rotate-y-180 {
  transform: rotateY(180deg);
}

.article-html,
.article-html * {
  font-family: inherit !important;
  font-weight: inherit !important;
}
